<div class="card upload-card">
  <!-- Hidden file input -->
  <input
    #fileInput
    type="file"
    multiple
    accept=".txt,.docx,image/*"
    (change)="onSelectedFiles($event)"
    hidden
  />

  <!-- HEADER -->
  <div class="upload-header">
    <div class="actions">
      <button type="button" (click)="fileInput.click()">
        Browse
      </button>

      <button
        type="button"
        [disabled]="!files.length"
        (click)="onUpload()"
      >
        Upload
      </button>

      <button
        type="button"
        [disabled]="!files.length"
        (click)="onClear()"
      >
        Remove
      </button>
    </div>

    <div class="progress-wrapper">
      <div class="progress-bar">
        <div
          class="progress-fill"
          [style.width.%]="totalSizePercent"
        ></div>
      </div>
      <small>{{ totalSize | number }} / 1,000,000 bytes</small>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="file-grid" *ngIf="files.length">
    <div class="file-card" *ngFor="let file of files; let i = index">
      <img
        *ngIf="file.objectURL"
        [src]="file.objectURL"
        alt="preview"
      />

      <strong>{{ file.name }} </strong>
      <span class="muted">{{ formatSize(file.size) }} </span>
      <button
        type="button"
        class="remove-btn"
        (click)="removeFile(i)"
      >
        Remove
      </button>
    </div>
  </div>

 
</div>
